.guess-container {
    position: absolute !important;
    top: -5px;
    left: -5px;
    z-index: 1;
}

.guess-container .guess-confirm {
    font-family: 'Irish Grover', cursive;
    background: #c19a6b;
    color: white;
    margin-top: 20px;
    font-size: 48px;
    border-radius: 10px;
    border: 2px solid burlywood;
    cursor: pointer;
}

.guess-container > div {
    height: 100%;
    border-bottom-right-radius: 20px;
    border: 5px solid burlywood;
    border-left: none;
    border-top: none;
}