.tips-container {
    background: url(../../assets/background.jpg);
    background-size: cover;
    overflow: hidden;
    position: absolute !important;
    left: 10%;
    bottom: -5px;
    width: 80%;
    height: calc(70vh);
    transform: translateY(100%);
    transition: transform .5s;
    z-index: 1;

    padding: 10px;
    box-sizing: border-box;

    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 5px solid burlywood;
    border-bottom: none;

    display: flex;
    flex-direction: column;
}

.tips-container.tips-enabled {
    transform: translateY(0);
    transition: transform .5s;
}

.tips-container > h2 {
    color: white;
    font-family: 'Irish Grover', cursive;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    position: relative;
    margin-bottom: 20px;
}

.tips-container > .list-container {
    height: 100%;
    max-height: 100%;
    overflow: auto;
}

.tips-container > .list-container > ol {
    margin: 0;
    padding-block-start: 0;
    padding-block-end: 20px;
    padding-right: 10px;
}

.tips-container > .list-container > ol > li {
    color: white;
    font-family: 'Irish Grover', cursive;
    font-size: 24px;
    padding: 10px 0;
}